{% if not htmx %}
    {% extends "partials/layout.njk" %}
{% endif %}

{% block main %}
    <form action="/app/addLink" method="POST">
        <div class="flex">
            <span class="flex flex-col justify-around">
                <i class="fas fa-link mr-2"></i>
            </span>

            <input class="flex-1"
                type="url" name="newLink"
                placeholder="https://HomeStarRunner.com" autocomplete="off"/>
            {% if error %}
                <span>
                    <i class="fas fa-exclamation-triangle mx-2"></i>
                </span>
            {% endif %}

            <button class="text-gray-500 ml-4" type="submit">Add Link</button>
        </div>
        {% if error %}
            <p class="p-2 border border-red-700 rounded-lg m-2 bg-red-50 text-red-700">{{ error }}</p>
        {% endif %}
    </form>

    {% for linkGroup in linkGroups %}
        {% include "partials/linkgroup.njk" %}
    {% endfor %}
    {% if not linkGroups.length%}
        <p>You stare into the abyss and emptiness stares back</p>
    {% endif %}
    <style>
        .linkGroup-header::-webkit-details-marker {
            display: none;
        }
    </style>
{% endblock %}