{% extends "partials/layout.njk" %}

{% block main %}
    <form action="/app/addLink" method="POST">
        <div class="field has-addons">
            <div class="control has-icons-left is-expanded">
                <input class="input is-small {% if error %}is-danger{% endif %}"
                type="url" name="newLink"
                placeholder="https://HomeStarRunner.com" autocomplete="off"/>
                <span class="icon is-small is-left">
                    <i class="fas fa-link"></i>
                </span>
                {% if error %}
                    <span class="icon is-small is-right">
                        <i class="fas fa-exclamation-triangle"></i>
                    </span>
                {% endif %}
            </div>
            <div class="control">
                <button class="button is-primary is-light is-small" type="submit">Add
        Link</button>
            </div>
        </div>
        {% if error %}
            <p class="help is-danger">{{ error }}</p>
        {% endif %}
    </form>

    {% for linkGroup in linkGroups %}
        {% include "partials/linkgroup.njk" %}
    {% endfor %}
    {% if not linkGroups.length%}
        <p>You stare into the abyss and emptiness stares back</p>
    {% endif %}
{% endblock %}