<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Hello Bulma!</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"
    />
    <link rel="manifest" href="manifest.json" />

    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="application-name" content="Impermalink" />
    <meta name="apple-mobile-web-app-title" content="Impermalink" />
    <meta name="msapplication-starturl" content="/app" />
  </head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">Impermalink</a>

        <a
          role="button"
          class="navbar-burger burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarMenu"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarMenu" class="navbar-menu">
        <div class="navbar-end">
          <div class="navbar-item">
            {{^userEmail}}
            <div class="buttons">
              <a class="button is-primary" href="/signup">
                <strong>Sign up</strong>
              </a>
              <a class="button is-light" href="/login">Log in </a>
            </div>
            {{/userEmail}} {{#userEmail}}
            {{#isOutsideApp}}
            <div class="buttons">
              <a class="button is-primary" href="/app">
                <strong>Go to app</strong>
              </a>
            {{/isOutsideApp}}
              <form action="/logout" method="POST">
                <button class="button is-light" type="submit">Log Out</button>
              </form>
            </div>
            {{/userEmail}}
          </div>
        </div>
      </div>
    </nav>
