<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Impermalink {% block title %}- Links for Later{% endblock %}
    </title>
    <link
      rel="stylesheet"
      href="/static/tailwind.css"
/>
    <link rel="manifest" href="static/manifest.json"/>

    <meta name="mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="application-name" content="Impermalink"/>
    <meta name="apple-mobile-web-app-title" content="Impermalink"/>
    <meta name="msapplication-starturl" content="/app"/>
  </head>

  <body class="md:mx-8 flex flex-col items-center mx-2">
    <nav class="flex justify-between py-2 mb-2 border-b-2 w-full" role="navigation" aria-label="main navigation">
      <a class="navbar-item text-xl font-semibold" href="/">Impermalink</a>

      <div>
        {% if userEmail %}
          {% if isOutsideApp%}
            <a href="/app">
              <strong>Go to app</strong>
            </a>
          {% endif %}
          <form action="/logout" method="POST">
            <button type="submit">Log Out</button>
          </form>
        {% else %}
          <a href="/signup">
            <strong>Sign up</strong>
          </a>
          <a href="/login">Log in </a>
        {% endif %}
      </div>
    </nav>

    <main class="container">
      {% block main %}{% endblock %}
    </main>

    <script
      defer
      src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"
    ></script>

    <script type="text/javascript">
      Array
        .from(document.querySelectorAll('a.link'))
        .forEach(link => {
          link.addEventListener('click', async () => {
            if (link.getAttribute('data-is-deleted')) {
              return;
            }
            await fetch(`/app/moveLinkToRecycleBin?linkId=${link.getAttribute('data-id')}`, {method: 'post'});
            window
              .location
              .reload();
          });
        });

      if ('serviceWorker' in navigator) {
        navigator
          .serviceWorker
          .register('/static/sw.js');
      }
    </script>

  </body>
</html>