<div class="card">
    <div class="card-content">
        <div class="media-content">
            <p class="title is-4">{{ link.title }}</p>
            <p class="subtitle is-6">{{ link.url }}</p>
        </div>
    </div>
</div>