<section class="mb-2 last:mb-0">
  <header class="text-gray-500">{{linkGroup.domain | replace(r/^www\./, '')}}</header>
  <ul class="flex flex-wrap">
    {% for link in linkGroup.links %}
      <li class="mb-4 last:mb-0 w-1/2 lg:w-1/5 mr-4 last:mr-0">
        {% include "partials/link.njk" %}
      </li>
    {% endfor %}
  </ul>
</section>