<div class="box">
  <header class="title is-6">{{linkGroup.domain | replace(r/^www\./, '')}}</header>
  <ul>
    {% for link in linkGroup.links %}
      <li>
        {% include "partials/link.njk" %}
      </li>
    {% endfor %}
  </ul>
</div>